body {
    font-family: Roboto, Verdana, Arial, sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100vh;
}

.header,
.footer, 
.menu {
    color: white;
    background-color: #1f2937 ;
    display: flex;
    align-items: center;
}

.header {
    padding: 0 400px;

}


.right-links {
    margin-left: auto;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

a {
    text-decoration: none;
}

a,
.subtext {
    color: #e5e7eb;
    font-size: 18px;
}



.menu {
    padding: 100px 400px;
    align-items: flex-start;
    justify-content: space-between;
}

.menu > img {
    height: 350px;
    flex: 0

}

.menu-text {
    width: 450px

}

.main-text{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0 auto;

}

.information-title {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.information-container {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
    gap:50px

}

.information-container .info {
    max-width: 250px;
}

.information-container .text {
    text-align: center;
    font-weight: 350;

}

.info img {
    width: 220px;
    height: 220px;
    border : 5px solid #3882f6;
    border-radius: 10%;

}

.info a {
    color: #1f2937;

}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    padding: 120px 0px;

}

.quote-text  {
    max-width: 800px;
    margin: 0 auto;
}

.quote-person {
    font-weight: bold;
    font-size: smaller;
    width: 70%;
    margin:0;
    text-align: end;

}

.quote-person-2 {
    margin: 0;
    font-size: smaller;
    width: 70%;
    text-align: end;

}

button,
.call-to-action {
    background-color: #3882f6;
}

.call-to-action {
    box-sizing: border-box;
    margin: 100px 380px;
    padding: 50px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;

}

button {
    box-sizing: border-box;
    border-radius: 7px;
    border:none;
    color: white;
    padding: 7px 32px;
    font-size: 18px;
    font-weight: bold
}

.call-to-action p {
    color: white;
    margin:0;
    font-size: 22px;
}

.cta-title {
    font-weight: bolder;

}

.call-to-action button {
    border: 2px solid white;
}

.footer {
    padding: 40px 0;
    justify-content: center;

}